public
client/node_modules
cabal.project.local*
dist-newstyle
.envrc
result
tags
.key.aes
.spago2nix/
.purs-repl
.spago
output
terraform/.terraform
terraform/*.tfstate.*
terraform/*.tfstate
terraform/.terraform.lock.hcl
result-1
*.qcow2
